{%extends "Main/base.html"%}
{%load static%}

<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{% block title %}IBCA | Личный кабинет{% endblock %}</title>
</head>
<body>
    {% block pagecontent %}
        <br>
        <br>
        <br>
        <br>
        <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <i class="fa fa-filter" style="float: right; font-size: 36px; color: #6274DA; margin-right: 2%; cursor: pointer" onclick="open_filter_board()"></i>
                <br>
                <br>
                <div id="filter_board" style="display: none">
                    <form id="filter_form" style="width: 80%; margin-left: 10%">
                        <div class="row" >
                            <!---company, industry, country--->
                            <div class="col-md-3">
                                <div style="display: inline-block; float: left;">
                                    <span style="margin-right: 10px; font-size: 20px">{{ form.company.label }}:</span> {{ form.company }}
                                </div>

                            </div>
                            <div class="col-md-2">
                                 <div style="display: inline-block; float: left;">
                                     <span style="margin-right: 10px; font-size: 20px">{{ form.industry.label }}:</span> {{ form.industry }}
                                 </div>
                            </div>
                            <div class="col-md-2">
                                 <div style="display: inline-block; float: left;">
                                     <span style="margin-right: 10px; font-size: 20px">{{ form.country.label }}:</span> {{ form.country }}
                                 </div>
                            </div>
                            <div class="col-md-5">
                                <div style="display: inline-block; float: right;">
                                    <i class="fa fa-check" style="font-size: 36px; color: green; margin-right: 10px; cursor: pointer;"></i>
                                    <i class="fa fa-times" style="font-size: 36px; color: red; cursor: pointer" onclick="close_filter_board()"></i>
                                 </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        </div>
        <div class="data_list" style="height: 100vh; ">
            {% for user in users %}
                <div class="row">
                    <div class="col-md-12">
                        <div class="company_block" action="/lk/{{ user.id }}">

                        <span style="font-size: 18px">
                            {% if user.is_business == True %}
                                {{ user.company }} business acc. <span style="float: right">{{ user.get_status_display }}, views: {{ user.views_count }}</span>
                            {% else %}
                                {{ user.firstname }} {{ user.lastname }} ({{ user.company }}) social acc. <span style="float: right">{{ user.get_status_display }}, views: {{ user.views_count }}</span>
                            {% endif %}
                        </span>
                            <hr>
                            {% for ind in user.industry.all %}
                                #{{ ind }}
                            {% endfor %} in {{ user.country }}
                        <br>
                        <br>
                        Email: {{ user.email }}<br>
                        Website: <a href="{{ user.website }}">{{ user.website }}</a><br><br>
                        {{ user.description }} <span style="float: right">{{ user.created_at }}</span>
                        </div>
                    </div>
                </div>
            {% endfor %}
    {% if users.has_other_pages %}
        <ul class="pagination">
            {% if users.has_previous %}
              <li><a href="?page={{ users.previous_page_number }}">&laquo;</a></li>
            {% else %}
              <li class="disabled"><span>&laquo;</span></li>
            {% endif %}
            {% for i in users.paginator.page_range %}
              {% if users.number == i %}
                <li class="active" style="font-size: 24px; background-color: transparent"><span>{{ i }} <span class="sr-only">(current)</span></span></li>
              {% else %}
                <li><a href="?page={{ i }}">{{ i }}</a></li>
              {% endif %}
            {% endfor %}
            {% if users.has_next %}
              <li><a href="?page={{ users.next_page_number }}">&raquo;</a></li>
            {% else %}
              <li class="disabled"><span>&raquo;</span></li>
            {% endif %}
        </ul>
    {% endif %}
                </div>


    <div id="Modal" class="modal">
      <div class="modal-content" style="background-color: rgb(252, 252, 252);">
              <span class="close" onclick="CloseModal()">&times;</span>
          <div id="ModalTitle">
    
          </div>
          <hr>
          <div id="ModalBody">
    
          </div>
          <div id="ModalButtons">
    
          </div>
      </div>
    </div>

    {% endblock %}
    {% block lower_links %}{% endblock %}
</body>
</html>