{%extends "base.html"%}
{%load static%}
{% load i18n%}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}IBCA | {% trans 'Edit profile' %}{% endblock %}</title>
</head>
<body>

 {% block pagecontent %}

        <br>
        <br>
        <br>

        <form id="edit_profile_form" action="/api/users/{{ user.id }}/" method="put">
          {% csrf_token %}
            <div class="row">
                <div class="col-md-4" style="padding-left: 3%;">
                    <h2>{% trans 'Profile' %} ({{ user.get_status_display }})</h2><br>
                    <h6>{% trans 'Personal info' %}</h6>
                    <div class="data_box">
                        {% trans 'Firstname' %}{{ form.firstname }}
                        <hr>
                        {% trans 'Lastname' %}{{ form.lastname }}
                        <hr>
                        {% trans 'Email' %}<span class="edit_profile_span">{{ user.email }}
                        </span>
                        <hr>
                        {% trans 'Phone number' %} {{ form.phone_1 }}
                        <hr>
                        {% trans 'Created at' %} <sapn class="edit_profile_span">{{ user.created_at }}</sapn>
                    </div>
                    <br>
                    <h6>{% trans 'Company info' %}</h6>
                    <div class="data_box">
                        {% trans 'Name' %}{{ form.company }}
                        <hr>
                        {% trans 'Website' %}{{ form.website }}
                        <hr>
                        {% trans 'Industry' %}{{ form.industry }}
                        <hr>
                        {% trans 'Address' %} {{ form.zipcode }} <span class="edit_profile_span"> - </span> {{ form.address }}
                        <hr>
                        {% trans 'Country' %}{{ form.country }}
                        <hr>
                        {% trans 'Currency' %} {{ form.currency }}
                        <hr>
                        {% trans 'Post' %}{{ form.post }}
                        <hr>
                        {% trans 'Contact number' %} {{ form.phone_2 }}
                        <hr>
                        {% trans 'Description' %} {{ form.description }}

                        <br><br>
                        <br><br>
                        <br><br>
                    </div>
                    <br>
                    <input type="submit" value="{% trans 'Commit changes' %}" class="accept_button">
                </div>
                <div class="col-md-8">

                </div>
            </div>
        </form>

     <br>
     <br><br><br>
     <br>
     <br>
     <br><br><br><br><br><br><br><br><br><br><br><br><br><br>



{% endblock %}



</body>
</html>