{%extends "base.html"%}
{%load static%}
{% load i18n%}

<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{% block title %}IBCA | Вход{% endblock %}</title>
</head>
<body>
    {% block pagecontent %}
        {% csrf_token %}
          <!-- <div class="py-5 text-center text-white bg-primary">
            <div class="container py-5"> -->
                <div class="row py-5" align="center">
                    <div class="mx-auto col-lg-10" style="margin-top:10%;">
                        <h1 class="display-4 mb-4 "> {% trans 'International Business Communications Agency' %}</h1>
                            <p class="lead mb-5">{% trans 'The agency is ready to help you connect different countries to achieve the rapid growth of your business' %}.<br>

                                 {% trans 'Any description can be here' %}

                            </p>
                            {% if is_authorized%}
{#                                <a  id="myBtn" class="main_reg" href="sign_in/">Sign in</a>#}
                            {% else %}
                                <a  id="myBtn" class="main_reg" href="sign_up/">{% trans 'Quick start' %}</a>
                            {% endif %}

                    </div>
                </div>
            <!-- </div>
        </div>
     -->
    {% endblock %}
</body>
</html>