{%extends "base.html"%}
{%load static%}
{% load i18n%}

<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{% block title %}IBCA | {% trans 'Profile' %}{% endblock %}</title>
</head>
<body>
    {% block pagecontent %}

        <br>
        <br>
        <br>

        <div class="row">
            <form id="profile_form">
                <div class="row">
                    <div class="col-md-12">
                        <div class="profile_head" style="text-align: center">
                            <data id="profile_company">
                                {% if user.is_business == True %}
                                    <h1>{{ user.company }}</h1>
                                {% else %}
                                    <h1>{{ user.firstname }} {{ user.lastname }}</h1> <h4>{{ user.post }} {% trans 'in' %} {{ user.company }}</h4>
                                {% endif %}
                            </data>
                            <data id="profile_country" style="display: inline-block">
                                <h6>{{ user.get_country_display }},</h6>
                            </data>
                            <data id="profile_is_business" style="display: inline-block">
                                {% if user.is_business == True %}
                                    <h6>{% trans 'Business acc.' %}</h6>
                                {% else %}
                                    <h6>{% trans 'Personal acc.' %}</h6>
                                {% endif %}
                            </data>
                            <br>
                            {% if is_owner == True %}
                                <data id="profile_balance_currency">
                                {{ user.balance }} ({{ user.get_currency_display }})
                                </data>
                            {% else %}
                            {% endif %}
                            <br>
                            <data id="profile_description">
                                <h6>
                                {% if user.description %}
                                    {{ user.description }}
                                {% else %}
                                    {% trans 'Hi! Welcome to our IBCA page!' %}
                                {% endif %}
                                </h6>
                            </data>

                        </div>

                    </div>
                </div>

                <div class="row" style="text-align: center">
                    <div class="col-md-12">
                        {% for ind in user.industry.all %}
                            #{{ ind }}
                        {% endfor %}
                    </div>
                </div>


                <div class="row" id="profile_footer">
                    <div class="col-md-12">
                        {{ user.email }} <a href={{ user.webiste }}>{{ user.website }}</a><br>
                        {{ user.phone_1 }} {{ user.phone_2 }}<br>
                        {{ user.city}}, {{user.address}}, {{user.zipcode}}
                    </div>
                </div>
            </form>
        </div>

    {% endblock %}
    {% block lower_links %}{% endblock %}
</body>
</html>