{%extends "base.html"%}
{%load static%}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}IBCA | Sign Up{% endblock %}</title>
</head>
<body>
    {% block pagecontent %}
        <br>
        <br>
        <br>
        <br>
        <h3 align="center">REGISTRATION</h3>
       <form method="post" id="sign_up_form">
            {% csrf_token %}

        Email 
        {{ form.email }}
<br><br>
        Password 
        {{ form.password }}
            
        <br><br>
            <input id="sign_up_button" type="submit" value="Send" style="margin-top: 3%;">
            <p align="left" style="font-size: 13px; padding-top: 14px;">Already have an account? <a id="myBtn" href="/sign_in/" >Sign in</a></p> 
            <p>By clicking Sign Up, you agree to our Terms, Data Policy and Cookie Policy. You may receive SMS notifications from us and can opt out at any time.</p>
            <p id="error_message" align="left" style="font-size: 13px; padding-top: 14px; color: #7e0c0c"></p>
       </form>

       

    {% endblock %}
</body>
</html>